
.contains{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .imageF{
    object-fit: cover;
    width: 100%;
  }
  h1{
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
  }
  button{
    display: flex;
    justify-content: center;
  }