@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


.completeBody{
    display: flex;
   justify-content: center;

}
.navbody>h1{
    display: flex;
    font-family: 'Cedarville Cursive', cursive;
    color:#22223b;
}
.toggle{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}